.wrapper {
  color: black;
  font-family: sans-serif;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.light-mode {
  color: black;
  background-color: white;
}

.dark-mode {
  color: white;
  background-color: black;
}
